[submodule "sftp/container-sftp"]
	path = sftp/container-sftp
	url = https://github.com/sean-bourg/container-sftp.git
[submodule "container-sftp"]
	path = container-sftp
	url = https://github.com/sean-bourg/container-sftp.git
[submodule "container-static"]
	path = container-static
	url = https://github.com/sean-bourg/container-static.git
[submodule "container-lamp"]
	path = container-lamp
	url = https://github.com/sean-bourg/container-lamp.git
	branch = main
